.column-padding {
    padding: 8px 16px 8px;
}
.font-size {
    font-size: 15px;
}

.bottom-padding {
    padding-bottom: 8px;
}

.top-padding {
    padding-top: 8px;
    border: white;
}

.bottom-padding-16 {
    padding-bottom: 16px;
}

.form{
    position: relative;
}

.form .fa-search{
    position: absolute;
    top:12px;
    left: 20px;
    color: black;
}

.form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input{
    height: 40px;
    text-indent: 45px;
}

.form .fa-cog {
    color: blue;
}

.image-overlay {
    font-weight: bold;
    line-height: 0;
    font-size: 2em;
    color: white;
}

.subtopic {
    font-size: 15px;
    color: rgb(110,118,125)
}

.topic {
    font-size: 15px;
    font-weight: bold;
}

.tuit-image {
    width: 100%;
    border-radius: 10px;
}

.tuit-button {
    height: 36px;
    min-width: 100px;
    border-width: 0px;
}

.nav-bar {
    width: fit-content;
}